@use "../../Veriables.scss" as v;

.dial {
  &__container {
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  &__circle {
    border: 1px solid red;
  }

  h1 {
    position: absolute;
    top: -100px;
    font-family: v.$bebas;
    color: v.$yellow;
    letter-spacing: 1px;
    font-size: 3rem;
  }

  &__needle {
    transform-origin: bottom center;
    rotate: -90deg;
    width: 8px;
    height: 180px;
    background-color: v.$yellow;
    background: linear-gradient(180deg, v.$red, #00000011);
    border-radius: 10px;
    //filter: blur(1px);
    position: absolute;
    bottom: 30px;
  }

  &__dot {
    $size: 30px;
    background-color: v.$blue;
    width: $size;
    height: $size;
    border-radius: $size;
    position: absolute;
    bottom: 16px;
    //filter: blur(2px);

    &::after {
      content: "";
      width: 350px;
      height: 1px;
      background: radial-gradient(
        v.$light 0%,
        rgba(255, 255, 255, 0.245) 50%,
        rgba(0, 0, 0, 0) 100%
      );
      position: absolute;
      bottom: 14px;
      left: -160px;
      z-index: -1;
    }
  }

  #chargingSlider {
    opacity: 0.1;
    border: none !important;
    appearance: none !important;
    -moz-appearance: none !important;
    margin: 10px 0;
    width: 300px;
    height: 2px;
    outline: none;
    background: none;
    box-shadow: none;
    position: absolute;
    bottom: -150px;

    &::-moz-range-thumb {
      box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
      border: 0px solid #000000;
      border-radius: 2em;
      background: v.$yellow;
      cursor: pointer;
      width: 2em;
      height: 1.2em;

      &:hover,
      &:focus {
        background: v.$blue;
      }
    }

    &::-moz-range-track {
      cursor: pointer;
      background: v.$light;
      border-radius: 2em;
      height: 0.2em !important;
    }
  }

  h2 {
    font-size: 6rem;
    font-weight: bold;
    color: v.$light;
    font-family: v.$bebas;
    opacity: 0.75;
  }
}
